<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioInlineFormat</key>
	<string>&lt;object width=&quot;200&quot; height=&quot;20&quot; data=&quot;%@&quot; type=&quot;%@&quot;&gt; &lt;param name=&quot;src&quot; value=&quot;%@&quot;&gt; &lt;param name=&quot;url&quot; value=&quot;%@&quot; valuetype=&quot;ref&quot; type=&quot;audio/mp3&quot;&gt; &lt;param name=&quot;autostart&quot; value=&quot;0&quot;&gt; &lt;param name=&quot;showcontrols&quot; value=&quot;1&quot;&gt; &lt;/object&gt; &lt;br/&gt; &lt;a href=&quot;%@&quot; class=&quot;noPreview&quot;&gt;%@&lt;/a&gt;</string>
	<key>audioMIMETypesForExtensions</key>
	<dict>
		<key>aac</key>
		<string>audio/aac</string>
		<key>aif</key>
		<string>audio/aif</string>
		<key>aiff</key>
		<string>audio/aif</string>
		<key>mp3</key>
		<string>audio/mp3</string>
		<key>wav</key>
		<string>audio/wav</string>
	</dict>
	<key>youTubeInlineFormat</key>
	<string>&lt;object width=&quot;425&quot; height=&quot;355&quot;&gt;&lt;param name=&quot;movie&quot; value=&quot;http://www.youtube.com/v/%@&amp;hl=ja&quot;&gt;&lt;/param&gt;&lt;param name=&quot;wmode&quot; value=&quot;transparent&quot;&gt;&lt;/param&gt;&lt;embed src=&quot;http://www.youtube.com/v/%@&amp;hl=ja&quot; type=&quot;application/x-shockwave-flash&quot; wmode=&quot;transparent&quot; width=&quot;425&quot; height=&quot;355&quot;&gt;&lt;/embed&gt;&lt;/object&gt;&lt;br /&gt;
&lt;a href=&quot;http://jp.youtube.com/watch?v=%@&quot; class=&quot;noPreview&quot;&gt;http://jp.youtube.com/watch?v=%@&lt;/a&gt;</string>
	<key>youTubePopUpFormat</key>
	<string>&lt;a href=&quot;%@&quot; class=&quot;noPreview&quot;&gt;&lt;img src=&quot;http://img.youtube.com/vi/%@/default.jpg&quot; alt=&quot;%@&quot; width=130px height=97px&gt;&lt;/a&gt; &lt;img src=&quot;http://www.youtube.com/favicon.ico&quot; width=16px height=16px&gt;</string>
</dict>
</plist>
