<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>savesTabsContents</key>
	<true/>
	<key>appDelegatePref</key>
	<dict>
		<key>defaultExtractPathIndex</key>
		<integer>0</integer>
		<key>sourceTableRowHeight</key>
		<integer>19</integer>
		<key>__className</key>
		<string>THPrefWindowController</string>
		<key>threadTableRowHeight</key>
		<integer>16</integer>
		<key>browserMetal</key>
		<integer>1</integer>
		<key>iconSetName</key>
		<string>Standard</string>
		<key>maxThreadTabCount</key>
		<integer>5</integer>
		<key>newTabLocationType</key>
		<integer>0</integer>
		<key>popUpDelaySeconds</key>
		<real>0.2</real>
		<key>resPopUpWindowWidth</key>
		<integer>600</integer>
		<key>showsDebugMenu</key>
		<integer>0</integer>
		<key>usedMails</key>
		<array>
			<string>sage</string>
			<string></string>
		</array>
	</dict>
	<key>jp_natori_Thousand_2chImporter</key>
	<dict>
		<key>BBSMenuURLString</key>
		<string>http://menu.2ch.net/bbsmenu.html</string>
		<key>__className</key>
		<string>TH2chImporterPlug</string>
		<key>useGZIP</key>
		<integer>0</integer>
	</dict>
	<key>jp_natori_Thousand_HistoryImporter</key>
	<dict>
		<key>__className</key>
		<string>THHistoryImporter</string>
		<key>resPostedThreadHistoryMax</key>
		<integer>10</integer>
		<key>threadHistoryMax</key>
		<integer>100</integer>
		<key>threadListHistoryMax</key>
		<integer>10</integer>
	</dict>
	<key>jp_natori_Thousand_standardHTMLView</key>
	<dict>
		<key>__className</key>
		<string>THStandardViewPlug</string>
		<key>templateName</key>
		<string>standard.html</string>
	</dict>
	<key>sourceListFont_Size</key>
	<integer>12</integer>
	<key>threadListFont_Name</key>
	<string>LucidaGrande</string>
	<key>threadListFont_Size</key>
	<integer>11</integer>
	<key>sourceListFont_Name</key>
	<string>LucidaGrande</string>
	<key>THTableView_threadTable</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>stateImage</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>title</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>resCountNew</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>__variable__</string>
		</dict>
	</array>
	<key>webFixedFont_Name</key>
	<string>MS-PGothic</string>
	<key>draftFont_Name</key>
	<string>HiraKakuPro-W3</string>
	<key>webFixedFont_Size</key>
	<integer>14</integer>
	<key>draftFont_Size</key>
	<integer>12</integer>
	<key>webStandardFont_Name</key>
	<string>HiraKakuPro-W3</string>
	<key>webStandardFont_Size</key>
	<real>12</real>
</dict>
</plist>
