<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MasterListAdditions</key>
	<array>
		<dict>
			<key>title</key>
			<string>忍者の里板</string>
			<key>URLString</key>
			<string>http://hato.2ch.net/sato/</string>
		</dict>
		<dict>
			<key>title</key>
			<string>くノ一の山</string>
			<key>URLString</key>
			<string>http://pele.bbspink.com/yama/</string>
		</dict>
		<dict>
			<key>title</key>
			<string>また挑戦。</string>
			<key>URLString</key>
			<string>http://dso.2ch.net/myanmar/</string>
		</dict>
	</array>
	<key>P2URLString</key>
	<string>http://p2.2ch.net/p2/</string>
	<key>MISSING_BOARD_OR_THREAD</key>
	<string>そんな板orスレッドないです。</string>
	<key>2CH_VIEWER_REQUIRES_RELOGIN</key>
	<string>ＥＲＲＯＲ：再度ログインしてね。。。</string>
	<key>THREAD_POSTING_SUBMIT</key>
	<string>新規スレッド作成</string>
	<key>LIVE_CATEGORY_STRING</key>
	<string>実況</string>
	<key>tripDelimiterString</key>
	<string>◆</string>
	<key>RES_POSTING_SUBMIT</key>
	<string>書き込む</string>
	<key>MasterListNG</key>
	<dict>
		<key>Category_おすすめ</key>
		<string>NG</string>
		<key>Category_まちＢＢＳ</key>
		<string>NG</string>
		<key>Category_チャット</key>
		<string>NG</string>
		<key>Category_ツール類</key>
		<string>NG</string>
		<key>Category_他のサイト</key>
		<string>NG</string>
		<key>Category_特別企画</key>
		<string>NG</string>
		<key>Category_運営案内</key>
		<string>NG</string>
		<key>URL:http://chbox.jp/</key>
		<string></string>
		<key>URL:http://info.2ch.net/rank/</key>
		<string></string>
		<key>URL:http://info.2ch.net/wiki/</key>
		<string></string>
		<key>URL:http://newsnavi.2ch.net/</key>
		<string></string>
		<key>URL:http://www.bbspink.com/</key>
		<string>NG</string>
	</dict>
	<key>bbsmenuURLString</key>
	<string>http://menu.2ch.net/bbsmenu.html</string>
</dict>
</plist>
